@use 'sass:list';
@use 'sass:math';

// Colors

$transparent: rgba(255, 255, 255, 0);
$white: #ffffff;
$dark-gray: #161616;

:root {
  // Colors
  --bg-color: #{$dark-gray};
  --text-color: #{$white};

  --header-bg-color: #{$dark-gray};
  --header-border-color: #{$white};

  --navbar-bg-color: #{$transparent};
  --navbar-link-text-color: #{$white};
  --navbar-active-Link-text-color: #{$dark-gray};
  --navbar-active-Link-bg-color: #{$white};

  --projects-card-title-text-color: #{$white};
}

// Header

$header-text-size: 0.875rem;

// Nav

$nav-desktop-font-size: 1.125rem;

// --

$line-height-value: 1.2;

$header-desktop-margin: 1.875rem 3.75rem 0;

$header-mobile-padding: 1.25rem 1.875rem;
$header-desktop-padding: 1.25rem 1.875rem;

$header-logo-size: 1.884rem;
$navbar-desktop-padding: 0.25rem 1rem;
$navbar-mobile-padding: 0.25rem 1rem;

$navbar-desktop-height: $line-height-value * $nav-desktop-font-size +
  list.nth($navbar-desktop-padding, 1) * 2;
$navbar-mobile-height: $line-height-value * $nav-desktop-font-size +
  list.nth($navbar-mobile-padding, 1) * 2;

$header-desktop-content-height: math.max($header-logo-size, $navbar-desktop-height);
$header-mobile-content-height: math.max($header-logo-size, $navbar-mobile-height);

$header-desktop-height: $header-desktop-content-height + list.nth($header-desktop-padding, 1) * 2;
$header-mobile-height: $header-mobile-content-height + list.nth($header-mobile-padding, 1) * 2;

$main-desktop-padding: $header-desktop-height 3.75rem 2.5rem;
$main-mobile-padding: $header-mobile-height 1.875rem 3.75rem;

// No longer necessary since the header is fixed and does not take up space on the page. Therefore, it can always be 100svh.
//$main-desktop-min-height: calc(100svh - #{$header-desktop-height});
//$main-mobile-min-height: calc(100svh - #{$header-mobile-height});

//$news-card-desktop-width: 25rem;

/* [data-theme='dark'] {
  // Colors
} */

// Border-Radius

$border-radius-2: 0.125rem;
$border-radius-5: 0.3125rem;

// Spacing
$root-padding: 2.5rem 3.125rem 3.125rem; // desatualizado

// Font

$font-satoshi: var(--font-satoshi);

$font-primary: var(--font-inter);
$font-section-title: var(--font-bebas-neue);
$font-music-score-title: var(--font-roboto-slab);

// Typography

$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;

// MediaQueries breakpoints

$mobile: '20rem';
$mobileM: '23.4375rem';
$mobileL: '26.5625rem';
$tablet: '48rem';
$laptop: '66.625rem';
$laptopL: '90rem';
$desktop: '96.0625rem';
$desktopL: '160rem';
