@use '../Variables.scss' as *;

.header {
  display: grid;
  grid-template-columns: max-content;
  gap: 1.875rem;

  justify-content: center;

  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;

  width: 100%;
  padding: $header-desktop-padding;
  line-height: $line-height-value;

  background-color: var(--header-bg-color);

  border-bottom: 0.0625rem solid var(--gray-lines-color);
}

.header-logo {
  width: auto;
  height: $header-logo-size;
  align-self: center;
}

@media screen and (min-width: #{$laptop}) {
  .header {
  }
}
