@use '../Variables.scss' as *;

.header {
  display: grid;
  grid-template-columns: 1fr max-content;
  gap: 1.875rem;

  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;

  width: 100%;
  padding: 1.25rem 1.875rem;

  background-color: var(--header-bg-color);
  //border-bottom: 1px solid var(--header-border-color);
}

.header__logo {
  width: 8.4rem;
  height: auto;
  align-self: center;
}

@media screen and (min-width: #{$laptop}) {
  .header {
    /* margin: $header-desktop-margin;
    border-radius: 0.3125rem; */
  }
}
