@use '../Variables.scss' as *;

.nav-desktop {
  //display: grid;
  background-color: var(--navbar-bg-color);
}

.nav-desktop ul {
  display: grid;
  grid-template-columns: repeat(2, max-content);
}

.nav-desktop a {
  //cursor: pointer;
  color: var(--navbar-link-text-color);
  height: max-content;
  padding: $navbar-mobile-padding;
  text-decoration: none;
  border: none;

  font-family: $font-satoshi;
  font-weight: $bold;
  font-size: $nav-desktop-font-size;
  line-height: $line-height-value;

  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 25%;
    width: 1px;
    height: 50%;
    background-color: var(--navbar-link-text-color);
    opacity: 0.25;
    transition: opacity 0.2s ease;
    pointer-events: none;
  }

  &.active::before {
    opacity: 0;
  }

  &.active + a::before {
    opacity: 0;
  }

  &:first-child::before {
    content: none;
  }

  &.active {
    color: var(--navbar-active-Link-text-color);
    background-color: var(--navbar-active-Link-bg-color);
  }

  /* &:hover {
    color: var(--navbar-active-Link-text-color);
    background-color: var(--navbar-active-Link-bg-color);
  } */
}

@media screen and (min-width: #{$laptop}) {
  .nav-desktop {
    /* width: 31.25rem; */
  }

  .nav-desktop a {
    padding: $navbar-desktop-padding;
  }
}
